{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@main": "./src/main",
                "@test": "./src/test"
            }
        }],
        ["transform-runtime"]
    ]
}