{
    "presets": ["env"],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@main": "./src/main",
                "@test": "./src/test"
            }
        }],
        ["transform-runtime"]
    ]
}