{
    "include": [
        "src/main/**/*.ts"
    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "exclude": [
        "dist",
        "typings",
        "src/test",
        "**/index.ts",
        "**/*.d.ts"
    ],
    "require": [
        "jsdom-global/register",
        "ts-node/register",
        "tsconfig-paths/register",
        "source-map-support/register"
    ],
    "reporter": [
        "html",
        "lcov",
        "text"
    ],
    "all": true,
    "sourceMap": true,
    "instrument": true
}